{% extends "admin/base.html" %}
{% block title_page %}Eventos{% endblock %}
{% block title_section %}Editar Evento{% endblock %}
{% block content %}
    {% include "admin/_agenda_form.html" %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // masks
    $("#date").mask("00/00/0000 00:00");
    // function to get cities by state_id
    function update_cities(state_id){
        $("select[name='city_id']").attr('disabled', 'disabled');
        $.getJSON(
            "/admin/_get_cities/"+state_id,
            function(resp){
                $("select[name='city_id']").empty();
                resp.forEach(function(item){
                    // marcar atual cidde, se o estado atual for selecionado
                    $("select[name='city_id']").append(
                        $('<option>').attr('value', item.id).text(item.name)
                    )
                });
                $("select[name='city_id']").removeAttr('disabled');
            }
        );
    }

    // on change trigger
    $("select[name='state']").change(function(){
        update_cities($(this).val());
    });
});
</script>

{% endblock %}