{% extends 'admin/base.html' %}
{% block title_page %}Agenda{% endblock %}
{% block title_section %}Agenda{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                  	<th>#</th>
                  	<th>Evento</th>
                  	<th>Local</th>
                  	<th>Data</th>
                  	<th>Ações</th>
                </tr>
            </thead>
            <tbody>
				{% for agenda in agendas %}
               		<tr>
						<td>{{ agenda.id }}</td>
						<td>{{ agenda.title }}</td>
						<td>{{ agenda.place }}</td>
						<td>{{ agenda.date.strftime("%d/%m/%Y %H:%M") }}</td>
                  		<td>
							<button type="button" class="btn btn-default btn-sm">
								<span class="fa fa-edit"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<span class="fa fa-trash"></span>
							</button>
				  		</td>
                	</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
