{% extends 'admin/base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% block title_page %}Agenda{% endblock %}
{% block title_section %}Agenda{% endblock %}
{% block toolbar_buttons %}
<div class="btn-group mr-2">
  <a href="{{ url_for('admin.add_agenda') }}" role="button" class="btn btn-primary btn-sm">Novo Evento</a>
</div>
{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Evento</th>
        <th>Local</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for agenda in agendas.items %}
      <tr class='event_tr' id="{{ agenda.id }}">
        <td>{{ agenda.id }}</td>
        <td>{{ agenda.title }}</td>
        <td>{{ agenda.place }}</td>
        <td>{{ agenda.date.strftime("%d/%m/%Y %H:%M") }}</td>
        <td class="list-inline">
         <a href="{{url_for('admin.edit_agenda', event_id=agenda.id)}}"
         role="button" class="btn btn-dark btn-sm list-inline-item">
         <span class="fa fa-edit"></span>
       </a>
       <button type="submit" class="btn btn-danger btn-sm delete_event" id="{{ agenda.id }}">
        <span class="fa fa-trash"></span>
      </button>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
<div clas="row">
  {{ render_pagination(agendas, 'admin.agenda') }}
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/delete_event.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('button.delete_event').click(function(){
      var event_id = $(this).attr('id');
      var element = "tr.event_tr#"+event_id;
      delete_event(event_id, element);
    });
  });
</script>
{% endblock %}
