<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie" lang="zxx">
<![endif]-->
<html lang="zxx">

<head>
    <!-- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>DISCO</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Mega  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Animated CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">
    <!-- magnific popup Css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#scroll-menu" data-offset="100">
    <!-- Preloader -->
    <div class="preloader-wrap">
        <div class="preloader-inside">
            <div class="spinner spinner-1">
                <img src="img/logo.png" alt="responsive img">
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Nav Section -->
    <header class="header-area">
        <!-- Nav Section -->
        <nav class="navbar navbar-default navbar-fixed-top nav-area" id="scroll-menu">
            <!-- Header Top Section -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="d-none d-md-block col-xl-6 col-lg-8 col-md-9">
                            <ul class="online">
                                <li><a href="#">Contact:<span>0088-234-675-827</span></a></li>
                                <li><a href="#">Opening Hours:<span><small>Mon-Fri:</small>8.00 to 18.00</span></a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-4 col-md-3">
                            <ul class="social-link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top Section -->
            <div class="container">
                <div class="logo-menu-wrap">
                    <div class="logo">
                        <a href="index.html"><img src="img/logo.png" alt="responsive img"></a>
                    </div>
                    <div class="main-menu main-menu-mrg1">
                        <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown mega-dropdown">
                                    <a href="#">Mega menu</a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div class="row">
                                            <div class="col-12 col-md-3">
                                                <ul>
                                                    <li class="dropdown-header">Menu Style</li>
                                                    <li class="divider"></li>
                                                    <li><a href="menu-style-2.html">Menu Style 2</a></li>
                                                    <li><a href="menu-style-3.html">Menu Style 3</a></li>
                                                    <li><a href="menu-style-4.html">Menu Style 4</a></li>
                                                    <li><a href="menu-style-5.html">Menu Style 5</a></li>
                                                    <li><a href="menu-style-6.html">Menu Style 6</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <ul>
                                                    <li class="dropdown-header">Footer Style</li>
                                                    <li class="divider"></li>
                                                    <li><a href="index.html">Footer Style 1</a></li>
                                                    <li><a href="footer-style-2.html">Footer Style 2</a></li>
                                                    <li><a href="footer-style-3.html">Footer Style 3</a></li>
                                                    <li><a href="footer-style-4.html">Footer Style 4</a></li>
                                                    <li><a href="footer-style-5.html">Footer Style 5</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <ul>
                                                    <li class="dropdown-header">Mega menu 3</li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <ul>
                                                    <li class="dropdown-header">Mega menu 4</li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                    <li><a href="#">Mega menu</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="event.html">Event</a></li>
                                <li class="dropdown active">
                                    <a href="#">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery-photos.html">Gallery Photos</a></li>
                                        <li><a href="gallery-videos.html">Gallery Videos</a></li>
                                        <li><a href="gallery-1.html">Gallery Header Slide</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="booking.html">Booking Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li class="dropdown"><a href="#">Sub Menu</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Menu 1</a></li>
                                                <li><a href="#">Sub Menu 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                        <li><a href="blog-3grid.html">Blog 3 Grid</a></li>
                                        <li><a href="blog-2grid.html">Blog 2 Grid Sidebar</a></li>
                                        <li><a href="blog-details-sidebar.html">Blog Details Sidebar</a></li>
                                        <li><a href="blog-details-fullwidth.html">Blog Details Fullwidth</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="index.html">HOME</a></li>
                                <li><a href="#">Mega menu</a>
                                    <ul>
                                        <li><a href="#">Menu Style</a>
                                            <ul>
                                                <li><a href="menu-style-2.html">Menu Style 2</a></li>
                                                <li><a href="menu-style-3.html">Menu Style 3</a></li>
                                                <li><a href="menu-style-4.html">Menu Style 4</a></li>
                                                <li><a href="menu-style-5.html">Menu Style 5</a></li>
                                                <li><a href="menu-style-6.html">Menu Style 6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Footer Style</a>
                                            <ul>
                                                <li><a href="index.html">Footer Style 1</a></li>
                                                <li><a href="footer-style-2.html">Footer Style 2</a></li>
                                                <li><a href="footer-style-3.html">Footer Style 3</a></li>
                                                <li><a href="footer-style-4.html">Footer Style 4</a></li>
                                                <li><a href="footer-style-5.html">Footer Style 5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Mega menu 3</a>
                                            <ul>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Mega menu 4</a>
                                            <ul>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                                <li><a href="#">Mega menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery-photos.html">Gallery Photos</a></li>
                                        <li><a href="gallery-videos.html">Gallery Videos</a></li>
                                        <li><a href="gallery-1.html">Gallery Header Slide</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="booking.html">Booking Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="#">Sub Menu</a>
                                            <ul>
                                                <li><a href="#">Sub Menu 1</a></li>
                                                <li><a href="#">Sub Menu 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                        <li><a href="blog-3grid.html">Blog 3 Grid</a></li>
                                        <li><a href="blog-2grid.html">Blog 2 Grid Sidebar</a></li>
                                        <li><a href="blog-details-sidebar.html">Blog Details Sidebar</a></li>
                                        <li><a href="blog-details-fullwidth.html">Blog Details Fullwidth</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Nav Section -->
    <!-- Hero Section -->
    <div class="page-header" id="home">
        <div class="header-caption">
            <div class="header-caption-contant">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-caption-inner">
                                <h1>Gallery</h1>
                                <p><a href="#"> Home </a> // Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Main Gallery Section -->
    <div class="main-gallery-area inner-padding2">
        <div class="container">
            <div class="row foo">
                <div class="col-12">
                    <ul class="gallery-menu">
                        <li><a href="#photos" class="smoothscroll">photos</a></li>
                        <li><a href="#videos" class="smoothscroll">videos</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" id="photos">
                <div class="col-12">
                    <div class="photos-gallery">
                        <div class="gallery-masonry gallery">
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-1.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-1.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-2.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-2.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-3.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-3.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-4.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-4.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-5.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-5.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-6.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-6.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-7.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-7.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-8.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-8.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-9.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-9.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-10.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-10.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-11.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-11.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <div class="photo-gallery-inner">
                                    <img src="img/photos-gallery-12.png" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner">
                                            <div class="caption-content">
                                                <ul>
                                                    <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                                    <li><a href="img/photos-gallery-12.png"><i class="fa fa-search-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row foo">
                <div class="col-12">
                    <div class="gallery-btn">
                        <a href="#" class="btn btn-default btn-sm-field" role="button">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="videos-gallery inner-padding3" id="videos">
        <div class="container">
            <div class="row foo nav">
                <div class="col-12 col-md-4" data-target="#tabvideo-1" data-toggle="tab">
                    <div class="video-tab">
                        <img src="img/video-gallery-1.png" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <div class="play-btn2">
                                        <a href="#"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-target="#tabvideo-2" data-toggle="tab">
                    <div class="video-tab active">
                        <img src="img/video-gallery-2.png" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <div class="play-btn2">
                                        <a href="#"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-target="#tabvideo-3" data-toggle="tab">
                    <div class="video-tab">
                        <img src="img/video-gallery-3.png" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <div class="play-btn2">
                                        <a href="#"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row foo">
                <div class="col-md-12 col-lg-8 ml-auto mr-auto">
                    <div class="video-tab-content tab-content">
                        <div class="tab-pane fade" id="tabvideo-1">
                            <iframe class="video-player" src="https://player.vimeo.com/video/29309581"></iframe>
                        </div>
                        <div class="tab-pane active fade show" id="tabvideo-2">
                            <iframe class="video-player" src="https://player.vimeo.com/video/76474952"></iframe>
                        </div>
                        <div class="tab-pane fade" id="tabvideo-3">
                            <iframe class="video-player" src="https://player.vimeo.com/video/57148705"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Gallery Section -->
    <!-- Footer Section -->
    <footer>
        <div class="footer-area foo" data-sr='bottom'>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="company-logo">
                            <img class="" src="img/logo.png" alt="responsive img">
                        </div>
                        <div class="footer-content">
                            <ul class="address-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <p>House No 27, Road No 07, East Road, Dhaka, Bangladesh</p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p>+660 256 24857</p>
                                    <p>+660 256 24857</p>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <p>Username@gmail.com</p>
                                    <p>Damo@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">OPENING TIME</h4>
                        <div class="footer-content">
                            <div class="opening-time">
                                <p><strong>Monday-Friday: </strong> <small>8.00 to 18.00</small></p>
                                <p><strong>Saturday: </strong> <small>9.00 to 18.00</small></p>
                                <p><strong>Sunday: </strong> <small>10.00 to 16.00</small></p>
                                <p>Every friday of week dolor sit amet, cons ctetur adipisi cing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">TWITTER FEED</h4>
                        <div class="footer-content">
                            <ul class="twitter-list">
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">5 hours Ago</span>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">7 hours Ago</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">Newsletters</h4>
                        <div class="footer-content">
                            <div class="footer-form">
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isicing elit, sed eiusmod.</p>
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <label for="email2">Email Address...</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="Email Address..." class="form-control2" id="email2">
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Ends Footer Section -->
    <!-- Copyright Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="footer-copyright">Copyright © 2017 <a href="#">Discotemplate.</a> All Right Reserved.</p>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="footer-social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends Copyright Section -->
    <!-- Scripts -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/meanmenu.js"></script>
    <script src='js/countdown.js'></script>
    <!-- Magnific Popup js -->
    <script src='js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope Js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/isotope_custom.js"></script>
    <!-- Masonary Js -->
    <script src="js/masonry.pkgd.min.js"></script>
    <!-- jquery gridrotator js -->
    <script src="js/modernizr.custom.26633.js"></script>
    <script src="js/jquery.gridrotator.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>
