<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie" lang="pt-br">
<![endif]-->
<html lang="pt-br">
<head>
    <!-- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Life Bartenders</title>
    <meta name="description" content="">
    <meta name="author" content="Leandro Correa dos Santos">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Mega  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!--Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <!--magnific popup CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <!-- Animated CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.css') }}">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body data-spy="scroll" data-target="#scroll-menu" data-offset="65">
    <!-- Preloader -->
    <div class="preloader-wrap">
        <div class="preloader-inside">
            <div class="spinner spinner-1">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="responsive img">
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Nav Section -->
    <header class="header-area">
        <!-- Nav Section -->
        <nav class="navbar navbar-default navbar-fixed-top nav-area" id="scroll-menu">
            <!-- Header Top Section -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="d-none d-md-block col-xl-6 col-lg-8 col-md-9">
                            <ul class="online">
                                <li><a href="#">Contato:<span>(44) 98457-5557</span></a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-6 col-lg-4 col-md-3">
                            <ul class="social-link">
                                <li><a href="https://www.facebook.com/lifebartenderscascavel/"><i class="fa fa-facebook" target="_blank"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top Section -->
            <div class="container">
                <div class="logo-menu-wrap">
                    <div class="logo">
                        <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="responsive img"></a>
                    </div>
                    <div class="main-menu main-menu-mrg1">
                        <nav>
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/quem-somos">Quem Somos</a></li>
                                <li><a href="/agenda">Agenda</a></li>
                                <li><a href="/eventos">Eventos</a></li>
                                <li><a href="/contato">Contato</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="/">HOME</a></li>
                                <li><a href="/quem-somos">Quem Somos</a></li>
                                <li><a href="/agenda">Agenda</a></li>
                                <li><a href="/eventos">Eventos</a></li>
                                <li><a href="/contato">Contato</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Nav Section -->
    <!-- Hero Section -->
    <div class="hero-area" id="home">
        <div id="hero-slider-screen" class="owl-carousel owl-theme hero-slider-inner">
            <div class="item">
                <img src="{{ url_for('static', filename='img/banner-1.png') }}" alt="responsive img">
                <div class="hero-caption">
                    <div class="hero-caption-inner animated bounceInDown" data-wow-delay="0.9s" data-wow-duration="1s">
                        <h1>Disco Night Club</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='img/banner-2.png') }}" alt="responsive img">
                <div class="hero-caption">
                    <div class="hero-caption-inner">
                        <h1>Disco Night Club</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Service Section -->
    <div class="service-area inner-padding2">
        <div class="container">
            <div class="row">
                <div class="col-12 foo">
                    <div class="section-title-area">
                        <h2 class="section-title">Quem Somos</h2>
                        <div class="section-divider"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid dunt ut labore et dolore ma.Ut enim ad minim veniam, quis nos</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item foo">
                        <img src="{{ url_for('static', filename='img/service-1.png') }}" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <i class="fa fa-glass"></i>
                                    <h3 class="service-title">drink bar</h3>
                                    <p>Lorem ipsum atea dolor amet sectetur adip isicing elit, sed do eiua intan olore magna athem offera. atuioUt enim ad minis nostr.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item foo">
                        <img src="{{ url_for('static', filename='img/service-2.png') }}" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <i class="fa fa-cutlery"></i>
                                    <h3 class="service-title">restaurant</h3>
                                    <p>Lorem ipsum atea dolor amet sectetur adip isicing elit, sed do eiua intan olore magna athem offera. atuioUt enim ad minis nostr.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item foo">
                        <img src="{{ url_for('static', filename='img/service-3.png') }}" alt="responsive img">
                        <div class="caption">
                            <div class="caption-inner">
                                <div class="caption-content">
                                    <i class="fa fa-music"></i>
                                    <h3 class="service-title">dj’s music</h3>
                                    <p>Lorem ipsum atea dolor amet sectetur adip isicing elit, sed do eiua intan olore magna athem offera. atuioUt enim ad minis nostr.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Section -->

    <!-- Event Section -->
    <div class="event-area inner-padding">
        <div class="event-area-inner">
            <div class="container">
                <div class="row">
                    <div class="col-12 foo">
                        <div class="section-title-area-2">
                            <h2 class="section-title">Próximo Evento</h2>
                            <div class="section-divider"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid dunt ut labore et dolore ma.Ut enim ad minim veniam, quis nos</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="upcoming foo">
                            <span class="is-countdown"></span>
                            <div data-countdown="2020/04/01 16:30"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12 foo">
                        <div id="event-slider-screen" class="owl-carousel owl-theme event-slider">
                            <div class="item">
                                <div class="event-fee">Lorem Ipsum Dolor</div>
                                <div class="event-feature">
                                    <img src="{{ url_for('static', filename='img/event-1.png') }}" alt="responsive img">
                                    <div class="caption">
                                        <div class="caption-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="event-btn">
                            <a href="/agenda" class="btn btn-default btn-sm-field" role="button">Ver Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Event Section -->
    <!-- Gallery Section  -->
    <div class="gallery-area inner-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 foo">
                    <div class="section-title-area">
                        <h2 class="section-title">Galeria</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="gallery-masonry gallery">
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-1.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-1.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-2.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-2.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-3.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-3.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-4.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-4.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-5.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-5.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ url_for('static', filename='img/gallery-6.png') }}" alt="responsive img">
                            <div class="caption">
                                <div class="caption-inner">
                                    <div class="caption-content">
                                        <ul>
                                            <li><a href="gallery-photos.html"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{ url_for('static', filename='img/gallery-6.png') }}"><i class="fa fa-search-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Gallery Section -->
    <!-- Dj's Profile Section  -->
    <div class="dj-profile-area inner-padding">
        <div class="dj-profile-area-inner">
            <div class="container">
                <div class="row">
                    <div class="col-12 foo">
                        <div class="section-title-area">
                            <h2 class="section-title">Most Popular Dj’s Profile</h2>
                            <div class="section-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="dj-profile">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="tab-item">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 foo" data-sr='enter'>
                                        <div data-target="#tab-1" data-toggle="tab" class="profile-item-tab">
                                            <img src="{{ url_for('static', filename='img/dj-profile-1.png') }}" alt="responsive img">
                                            <div class="caption">
                                                <div class="caption-inner">
                                                    <div class="caption-content">
                                                        <ul class="profile-link">
                                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 foo" data-sr='enter'>
                                        <div data-target="#tab-2" data-toggle="tab" class="profile-item-tab active">
                                            <img src="{{ url_for('static', filename='img/dj-profile-2.png') }}" alt="responsive img">
                                            <div class="caption">
                                                <div class="caption-inner">
                                                    <div class="caption-content">
                                                        <ul class="profile-link">
                                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 foo" data-sr='enter'>
                                        <div data-target="#tab-3" data-toggle="tab" class="profile-item-tab mn">
                                            <img src="{{ url_for('static', filename='img/dj-profile-3.png') }}" alt="responsive img">
                                            <div class="caption">
                                                <div class="caption-inner">
                                                    <div class="caption-content">
                                                        <ul class="profile-link">
                                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 foo" data-sr='enter'>
                                        <div data-target="#tab-4" data-toggle="tab" class="profile-item-tab mn">
                                            <img src="{{ url_for('static', filename='img/dj-profile-4.png') }}" alt="responsive img">
                                            <div class="caption">
                                                <div class="caption-inner">
                                                    <div class="caption-content">
                                                        <ul class="profile-link">
                                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="profile-tab tab-content foo" data-sr='enter'>
                                <div class="tab-pane fade show" id="tab-1">
                                    <h2 class="dj-head">Dj mollik</h2>
                                    <h3 class="dj-info">dubstep</h3>
                                    <p>Lorem ipsum dolor sit amet, conec tetur adipi asicing elit, do eiusmod tempor enim minim venia am, at quis incidi adunt ut the labore et dolore magnatne aliqua. Enim enim , veniam,erlenim ad minim veniam.</p>
                                    <div class="profile">
                                        <div class="profile-info">
                                            <div class="am">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <p>dubeb</p>
                                            <h3>2002</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/disk.png') }}" alt="responsive img">
                                            <p>latest</p>
                                            <h3>11.18</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/headphone.png') }}" alt="responsive img">
                                            <p>event</p>
                                            <h3>1011</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active fade show" id="tab-2">
                                    <h2 class="dj-head">anika mollik</h2>
                                    <h3 class="dj-info">dubstep</h3>
                                    <p>Lorem ipsum dolor sit amet, conec tetur adipi asicing elit, do eiusmod tempor enim minim venia am, at quis incidi adunt ut the labore et dolore magnatne aliqua. Enim enim , veniam,erlenim ad minim veniam.</p>
                                    <div class="profile">
                                        <div class="profile-info">
                                            <div class="am">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <p>dubeb</p>
                                            <h3>2002</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/disk.png') }}" alt="responsive img">
                                            <p>latest</p>
                                            <h3>12.13</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/headphone.png') }}" alt="responsive img">
                                            <p>event</p>
                                            <h3>1012</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="tab-3">
                                    <h2 class="dj-head">Dj Sonica</h2>
                                    <h3 class="dj-info">dubstep</h3>
                                    <p>Lorem ipsum dolor sit amet, conec tetur adipi asicing elit, do eiusmod tempor enim minim venia am, at quis incidi adunt ut the labore et dolore magnatne aliqua. Enim enim , veniam,erlenim ad minim veniam.</p>
                                    <div class="profile">
                                        <div class="profile-info">
                                            <div class="am">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <p>dubeb</p>
                                            <h3>2002</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/disk.png') }}" alt="responsive img">
                                            <p>latest</p>
                                            <h3>12.00</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/headphone.png') }}" alt="responsive img">
                                            <p>event</p>
                                            <h3>1015</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="tab-4">
                                    <h2 class="dj-head">Dj anika</h2>
                                    <h3 class="dj-info">dubstep</h3>
                                    <p>Lorem ipsum dolor sit amet, conec tetur adipi asicing elit, do eiusmod tempor enim minim venia am, at quis incidi adunt ut the labore et dolore magnatne aliqua. Enim enim , veniam,erlenim ad minim veniam.</p>
                                    <div class="profile">
                                        <div class="profile-info">
                                            <div class="am">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <p>dubeb</p>
                                            <h3>2002</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/disk.png') }}" alt="responsive img">
                                            <p>latest</p>
                                            <h3>13.13</h3>
                                        </div>
                                        <div class="profile-info">
                                            <img src="{{ url_for('static', filename='img/headphone.png') }}" alt="responsive img">
                                            <p>event</p>
                                            <h3>1010</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Dj's Profile Section -->
    <!-- Blog Section  -->
    <div class="blog-area inner-padding3">
        <div class="container">
            <div class="row">
                <div class="col-12 foo">
                    <div class="section-title-area">
                        <h2 class="section-title">Our Recent Blog</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 foo">
                    <div class="post-row">
                        <div class="post-header">
                            <div class="post-feature">
                                <img src="{{ url_for('static', filename='img/post-feature-1.png') }}" alt="responsive img">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-caption">
                                <div class="post-caption-inner">
                                    <div class="post-caption-content">
                                        <div class="post-link"><a href="blog-details-sidebar.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a></div>
                                        <div class="post-sticker hidden-xs"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                        <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                        <p>Adipisicing elit, thsed do the an eiusmod tempor incidi dunt the at dipising elit ased eius mod tempor incidi dunt ipisi cing elit ased.</p>
                                        <ul class="post-meta">
                                            <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="post-footer-caption">
                                <div class="footer-caption-inner">
                                    <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                    <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 foo">
                    <div class="post-row">
                        <div class="post-header">
                            <div class="post-feature">
                                <img src="{{ url_for('static', filename='img/post-feature-2.png') }}" alt="responsive img">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-caption">
                                <div class="post-caption-inner">
                                    <div class="post-caption-content">
                                        <div class="post-link"><a href="blog-details-sidebar.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a></div>
                                        <div class="post-sticker hidden-xs"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                        <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                        <p>Adipisicing elit, thsed do the an eiusmod tempor incidi dunt the at dipising elit ased eius mod tempor incidi dunt ipisi cing elit ased.</p>
                                        <ul class="post-meta">
                                            <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="post-footer-caption">
                                <div class="footer-caption-inner">
                                    <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                    <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 foo hidden-sm">
                    <div class="post-row">
                        <div class="post-header">
                            <div class="post-feature">
                                <img src="{{ url_for('static', filename='img/post-feature-3.png') }}" alt="responsive img">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-caption">
                                <div class="post-caption-inner">
                                    <div class="post-caption-content">
                                        <div class="post-link"><a href="blog-details-sidebar.html" class="btn btn-default link-btn"><i class="fa fa-link"></i></a></div>
                                        <div class="post-sticker hidden-xs"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                        <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                        <p>Adipisicing elit, thsed do the an eiusmod tempor incidi dunt the at dipising elit ased eius mod tempor incidi dunt ipisi cing elit ased.</p>
                                        <ul class="post-meta">
                                            <li><a href="#"><i class="fa fa-user"></i>By A Mollik </a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>20 Likes</a></li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i>02 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="post-footer-caption">
                                <div class="footer-caption-inner">
                                    <h2 class="post-heading"><a href="blog-details-sidebar.html">The  Best Blog Post Dummy Title</a></h2>
                                    <div class="post-sticker"><i class="fa fa-clock-o"></i>Date : 26 oct 2016 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Section  -->
    <!-- Footer Section -->
    <footer>
        <div class="footer-area foo" data-sr='bottom'>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="company-logo">
                            <img class="" src="{{ url_for('static', filename='img/logo.png') }}" alt="responsive img">
                        </div>
                        <div class="footer-content">
                            <ul class="address-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <p>House No 27, Road No 07, East Road, Dhaka, Bangladesh</p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p>+660 256 24857</p>
                                    <p>+660 256 24857</p>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <p>Username@gmail.com</p>
                                    <p>Damo@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">OPENING TIME</h4>
                        <div class="footer-content">
                            <div class="opening-time">
                                <p><strong>Monday-Friday: </strong> <small>8.00 to 18.00</small></p>
                                <p><strong>Saturday: </strong> <small>9.00 to 18.00</small></p>
                                <p><strong>Sunday: </strong> <small>10.00 to 16.00</small></p>
                                <p>Every friday of week dolor sit amet, cons ctetur adipisi cing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">TWITTER FEED</h4>
                        <div class="footer-content">
                            <ul class="twitter-list">
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">5 hours Ago</span>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit am ectet adip isicing elit, sed eiusmod.</p>
                                    <span class="twitt-time">7 hours Ago</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="footer-title">Newsletters</h4>
                        <div class="footer-content">
                            <div class="footer-form">
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isicing elit, sed eiusmod.</p>
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <label for="email2">Email Address...</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="Email Address..." class="form-control2" id="email2">
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Ends Footer Section -->
    <!-- Copyright Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="footer-copyright">Copyright © 2017 <a href="#">Discotemplate.</a> All Right Reserved.</p>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="footer-social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends Copyright Section -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/meanmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
    <!-- Magnific Popup js -->
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Isotope Js -->
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope_custom.js') }}"></script>
    <!-- Masonary Js -->
    <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
    <!-- jquery gridrotator js -->
    <script src="{{ url_for('static', filename='js/modernizr.custom.26633.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.gridrotator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>
