{% extends "default.html" %}
{% block title %}Quem Somos{% endblock %}
{% block content %}
    <!-- Hero Section -->
    <div class="page-header" id="home">
        <div class="header-caption">
            <div class="header-caption-contant">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-caption-inner">
                                <h1>Quem Somos</h1>
                                <p> <a href="#">Home </a> //Quem Somos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- About Section -->
    <div class="about-area inner-padding2">
        <div class="container">
            <div class="row">
                <div class="col-12 foo">
                    <div id="about-slider-screen" class="owl-carousel owl-theme about-slider">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-lg-5">
                                    <div class="about-frature">
                                        <img src="{{ url_for('static', filename='img/about-frature-1.png') }}" alt="responsive img">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-7">
                                    <div class="about-content">
                                        <h3 class="about-title">Welcome To Our Club</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not sifght dply rantugh gffttg ssdas text. It has roots piece of clas dfsical Latin literreat ure frgto m of the us 45 BC, atma king it over 2000 years oMc of atotock, of atloo ked upoo of ting ugh the cites of the word in classical literature, disIpsum is not simply of an random text. It has roots used since the. </p>
                                        <p>The stan dard chunk of Lorem Ipsum used since the 1500s is repr the duced below for our club those intere sted. Sections 1.10.32 and 1.10.33 from "de Fin ibus Bono rum disIs um is not simply use random text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-lg-5">
                                    <div class="about-frature">
                                        <img src="{{ url_for('static', filename='img/about-frature-2.png')}}" alt="responsive img">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-7">
                                    <div class="about-content">
                                        <h3 class="about-title">Welcome To Our Club</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not sifght dply rantugh gffttg ssdas text. It has roots piece of clas dfsical Latin literreat ure frgto m of the us 45 BC, atma king it over 2000 years oMc of atotock, of atloo ked upoo of ting ugh the cites of the word in classical literature, disIpsum is not simply of an random text. It has roots used since the. </p>
                                        <p>The stan dard chunk of Lorem Ipsum used since the 1500s is repr the duced below for our club those intere sted. Sections 1.10.32 and 1.10.33 from "de Fin ibus Bono rum disIs um is not simply use random text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6 col-lg-5">
                                    <div class="about-frature">
                                        <img src="{{url_for('static',filename='img/about-frature-3.png')}}" alt="responsive img">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-7">
                                    <div class="about-content">
                                        <h3 class="about-title">Welcome To Our Club</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not sifght dply rantugh gffttg ssdas text. It has roots piece of clas dfsical Latin literreat ure frgto m of the us 45 BC, atma king it over 2000 years oMc of atotock, of atloo ked upoo of ting ugh the cites of the word in classical literature, disIpsum is not simply of an random text. It has roots used since the. </p>
                                        <p>The stan dard chunk of Lorem Ipsum used since the 1500s is repr the duced below for our club those intere sted. Sections 1.10.32 and 1.10.33 from "de Fin ibus Bono rum disIs um is not simply use random text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Section -->
    <!-- What We Offers Section -->
    <div class="offer-area inner-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 foo">
                    <div class="section-title-area">
                        <h2 class="section-title">Nossos Serviços</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6 foo">
                    <div class="offer-widget">
                        <div class="offer-feature">
                            <img src="{{ url_for('static', filename='img/about_us/locacao-estrutura.jpg') }}" alt="Life Bartenders - locação de estruturas">
                        </div>
                        <div class="offer-short">
                            <a href="#"><h3>Locação de Estruturas</h3></a>
                            <p>Locamos estruturas de Bar, utensílios e vários objetos de bar para decoração do seu evento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 foo">
                    <div class="offer-widget">
                        <div class="offer-feature">
                            <img src="{{ url_for('static',filename='img/about_us/servico-bartenders.jpg') }}" alt="responsive img">
                        </div>
                        <div class="offer-short">
                            <a href="#"><h3>Serviço Completo de Bartender</h3></a>
                            <p>Serviço de bar completo, com estrutura, mão de obra e matéria-prima para se utilizar no evento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 foo">
                    <div class="offer-widget">
                        <div class="offer-feature">
                            <img src="{{ url_for('static', filename='img/about_us/cursos.jpg') }}" alt="responsive img">
                        </div>
                        <div class="offer-short pb0">
                            <a href="#"><h3>Cursos</h3></a>
                            <p>Ministramos cursos de Bartender pra quem tem vontade de conhecer sobre a área e começar seu próprio negócio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 foo">
                    <div class="offer-widget">
                        <div class="offer-feature">
                            <img src="{{ url_for('static',filename='img/about_us/franquias.jpg') }}" alt="responsive img">
                        </div>
                        <div class="offer-short pb0">
                            <a href="#"><h3>Franquias</h3></a>
                            <p>A Life Bartendes pode estar onde você está. Franquiamos a empresa para todo Brasil com suporte e treinamento de qualidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End What We Offers Section -->

{% endblock %}
